extends layout

block content
  section.hero
    h1 Bienvenido a Stelaris
    p Explora el fascinante mundo de la astronomía y descubre información detallada sobre una amplia variedad de objetos celestes.

  section.categories
    ul
      li
        a(href='/stars') Estrellas
      li
        a(href='/planets') Planetas del Sistema Solar
      li
        a(href='/deepSkyObjects') Objetos del Cielo Profundo
      li
        a(href='/cometAsteroids') Cometas y Asteroides

  section.about
    h2 Sobre Nosotros
    p Stelaris es una plataforma dedicada a proporcionar información detallada y actualizada sobre una amplia gama de objetos celestes. Nuestro objetivo es ser una herramienta educativa y de referencia tanto para astrónomos aficionados como para el público en general interesado en la astronomía.
    |   Toda nuestra información la puedes encontrar en el portal de https://simbad.cds.unistra.fr/simbad/
